/* Example of a custom SCSS file which is combined into one SCSS application file by Flask Assets */
@import "govuk-frontend/dist/govuk/settings/_index.scss";

/* Example below of using GOVUK frontend SCSS variables in custom SCSS */
.moj-skeleton {
  background: $govuk-focus-colour;
  &__example {
    background: $govuk-brand-colour;
  }
}

.watermark{
	transform: translate(-15%) rotate(332deg);
	font-size: 15em;
	color: rgba(29, 112, 184, 0.17);
	position: fixed;
	font-family: "GDS Transport", arial, sans-serif;
	text-transform:uppercase;
    font-weight: bold;
    pointer-events: none;
	z-index: 1000;
}

.arrow-box {
	display: table;
}

.arrow-box::before {
	content: "";
	display: table-cell;
	background-image: url("/assets/images/action-link-arrow--simple.svg");
	width: 40px;
	background-size: 34px;
    background-repeat: no-repeat;
}

.category-column {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-content: space-between;
}

.postcode-search {
	text-transform: uppercase;
}

.cannot-find-your-problem {
	@include govuk-responsive-margin(8, "top");
	@include govuk-responsive-margin(9, "bottom");
}