{% macro adviserListItem(item, origin) %}
    <div>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-4">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">{% trans miles=item.distance|round(2) %}{{ miles }} miles away{% endtrans %}</span>
        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">{{ item.organisation.name }} </p>
        <p class="govuk-body govuk-!-margin-bottom-2">Telephone: {{ item.telephone }}</p>
        {% if item.location.address %}
        <p class="govuk-body govuk-!-margin-bottom-2">Address: {{ item.location.address}}, {{item.location.city }}, {{ item.location.postcode }}</p>
        {% endif %}
        {% if item.organisation.website %}
        <p class="govuk-body govuk-!-margin-bottom-2">Website: <a target="_blank" class="govuk-link" href='http://{{ item.organisation.website }}'> {{ item.organisation.website }} (opens in a new tab)</a></p>
        {% endif %}
        <p class="govuk-body govuk-!-margin-bottom-2"><a target="_blank" class="govuk-link" href='https://www.google.com/maps/dir/?api=1&origin={{ origin.postcode }}&destination={{ item.location.address }}, {{ item.location.postcode }}'>Map and directions (opens in a new tab)</a></p>
    </div>
{% endmacro %}