{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink() }}
{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <h1 class="govuk-heading-xl">{{ form.page_title }}</h1>
        {% endblock %}

        {% block formDescription %}
            <p class="govuk-body">Civil Legal Advice will check if you can get legal aid and help you contact the right legal adviser. If you cannot get legal aid, we’ll tell you about other help you can get.</p>
            <p class="govuk-body">You can call Civil Legal Advice yourself - this is an 0345 number, so <a href="https://www.gov.uk/call-charges">call charges</a> apply. Or you can ask us to call you back, which is free.</p>
            <p class="govuk-body">We’ll ask questions about your legal problem and your financial situation. You might need to provide evidence of any financial information you give us.</p>
        {% endblock %}

        <form action="" method="post" novalidate>

            {% block form %}
                {{ form.csrf_token }}
                {{ form.full_name(params={
                    "label": {
                        "classes": "govuk-label--m"
                    },
                    "spellcheck": false
                }) }}
                {{ form.contact_type }}
                {{ form.email(params={
                    "label": {
                        "classes": "govuk-label--m"
                    },
                    "spellcheck": false
                }) }}

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Address</legend>
                <label class="govuk-label govuk-label--s" for="address-post_code" id="field-label-address-post_code">
                    Postcode (optional)
                </label>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        {{ form.post_code(params={
                            "label": false,
                            "classes": "govuk-input govuk-input--width-10 govuk-!-margin-bottom-0",
                            "spellcheck": false
                        }) }}
                    </div>
                    <div class="govuk-grid-column-two-third">
                        <button id="show-postcode" class="govuk-button govuk-button--secondary" type="button">
                            {{ _('Find UK Address') }}
                        </button>
                    </div>
                </div>



                {{ form.street_address(params={
                    "label": {
                        "classes": "govuk-label--s",
                    },
                    "spellcheck": false
                }) }}
                {{ form.extra_notes(params={
                    "label": {
                        "classes": "govuk-label--m"
                    },
                    "spellcheck": false
                }) }}
                {{ form.adaptations(params={
                    'items': [
                    {
                        'conditional': {
                        'html': bslEmailHtml
                        }
                    },
                    {
                    },
                    {
                    },
                    {
                        'conditional': {
                        'html': otherLangHtml
                        }
                    },
                    {
                        'conditional': {
                        'html': otherAdapHtml
                        }
                    }
                    ]
                }) }}
                {{ form.submit }}
            {% endblock %}
        </form>
            {% block belowForm %}
                {{ govukInsetText({
                  "text": _("Your session will time out after 30 minutes of inactivity. We do this for your security.")
                }) }}
                <hr class="govuk-section-break--l">
                {% set contact_url = url_for('contact.reasons_for_contacting') %}
                <p class="govuk-body">{% trans contact_url=contact_url %}If you're having trouble completing this form, <a href="{{ contact_url }}" class="govuk-link">get in touch</a>.{% endtrans %}</p>
            {% endblock %}
    </div>
</div>
{% endblock %}