{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText %}
{%- from 'means_test/components/progress-bar.html' import progress as means_test_progress %}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}{{ form.title }} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink() }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <h1 class="govuk-heading-xl">{{ form.title }}</h1>
        {% endblock %}

        {% block formDescription %}
        {% endblock %}

        <form action="" method="post" novalidate>

            {% block form %}
                {{ form.csrf_token }}
                <p> Override this template</p>
                {{ form.submit }}
            {% endblock %}
        </form>
            {% block belowForm %}
                {{ govukInsetText({
                  "text": _("Your session will time out after 30 minutes of inactivity. We do this for your security.")
                }) }}
            {% endblock %}
    </div>
</div>
{% endblock %}