{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{%- from 'categories/components/help-organisations.html' import helpOrganisationsList %}

{% set title = _('Legal aid is available for this type of problem') %}
{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({}) }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{% trans %}Legal aid is available for this type of problem{% endtrans %}</h1>

        <p class="govuk-body-lead">{% trans %}However, you may need to also qualify financially.{% endtrans %}</p>

        <p class="govuk-body">{% trans %}If you do qualify financially, you can speak to Civil Legal Advice (CLA), a national helpline for certain legal aid problems in England and Wales.{% endtrans %}</p>

        <p class="govuk-body">{% trans %}The CLA operator will check all the information you’ve given through this service.{% endtrans %}</p>

        <h2 class="govuk-heading-m">{% trans %}What you need to check if you qualify financially{% endtrans %}</h2>

        <p class="govuk-body">{% trans %}You and your partner (if you have one) will need:{% endtrans %}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{% trans %}recent payslips (if you’re working) and bank statements{% endtrans %}</li>
            <li>{% trans %}a summary of your income tax and National Insurance contributions{% endtrans %}</li>
            <li>{% trans %}details of any savings and investments you have{% endtrans %}</li>
            <li>{% trans %}details of any benefits you receive{% endtrans %}</li>
            <li>{% trans %}mortgage statements and a current valuation for any property you own{% endtrans %}</li>
        </ul>

        <h2 class="govuk-heading-m">{% trans %}When you do not need to complete the financial assessment{% endtrans %}</h2>

        {% set contact_us_link %}<a class="govuk-link" href={{ url_for('contact.contact_us_fast_tracked') }}>contact CLA</a>{% endset %}
        <p class="govuk-body">{% trans %}You should {{ contact_us_link }} without completing the financial assessment if you are:{% endtrans %}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{% trans %}under 18{% endtrans %}</li>
            <li>{% trans %}have capital trapped in a property you own or other money or assets that you cannot access{% endtrans %}</li>
        </ul>

        <h3 class="govuk-heading-s">{% trans %}If you use British Sign Language (BSL){% endtrans %}</h3>

        <p class="govuk-body">{% trans %}You can choose not to complete the financial assessment online, and instead ask for a call with a BSL interpreter.{% endtrans %}</p>

        <p class="govuk-body">{% trans %}Fill in the '{{ contact_us_link }}' page. Select 'BSL' under 'Communication needs'.{% endtrans %}</p>

        {{ govukButton(params={
                "text": _("Check if you qualify financially"),
                "href": url_for("means_test.about-you"),
                "isStartButton": "true",
                "classes": "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                }) }}

        <h2 class="govuk-heading-m">{% trans %}Before you start{% endtrans %}</h2>

        <p class="govuk-body">{% trans %}Alternatively, you can ask a legal aid adviser to take on your case.{% endtrans %}</p>

        <p class="govuk-body">{% trans %}Your adviser will check whether you qualify for legal aid at no cost to you by asking about your problem and your finances.
            If you qualify, in some cases you may need to pay a contribution towards your legal aid.{% endtrans %}</p>

        {% set fala_url = url_for("find-a-legal-adviser.search", category=fala_category_code.lower() if fala_category_code else None) %}
        <p class="govuk-body"><a class="govuk-link" href="{{ fala_url }}">{% trans %}Find a legal adviser{% endtrans %}</a></p>


        {% if organisations %}
            <h2 class="govuk-heading-m">{{ _('Other sources of help') }}</h2>
            <p class="govuk-body">
                {% trans category_name=_(category_name) | lowercase_category_name %}You can also get advice from alternative help organisations for issues related to {{ category_name }}. You don’t have to qualify for legal aid.{% endtrans %}
            </p>
            {{ helpOrganisationsList(organisations) }}
        {% endif %}


    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="sidebar">
            <h2 class="govuk-heading-m">{% trans %}To qualify for legal aid:{% endtrans %}</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>{% trans %}your income (or combined income if you have a partner) shouldn’t be more than £2,657 a month before tax{% endtrans %}</li>
                <li>{% trans %}your savings (or combined savings if you have a partner) shouldn’t be more than £8,000{% endtrans %}</li>
            </ul>
            <p class="govuk-body-s">{% trans %}These limits can vary in certain circumstances – for example, if you need advice about domestic abuse.{% endtrans %}</p>
        </aside>
    </div>
</div>
{% endblock %}