{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}
{%- from 'categories/components/cannot-find-your-problem.html' import cannot_find_your_problem -%}

{% set title = _("More problems covered by legal aid") %}
{% block pageTitle %}{{ title }} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ title }}</h1>


          <div class="govuk-!-margin-top-8">
               {% for category, next_page in listing %}
               {{ list_item_small(category.title, category.description, next_page) }}
               {% endfor %}
          </div>

        <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            {{ cannot_find_your_problem(None, url_for("categories.results.cannot_find_your_problem"))}}
        </div>
    </div>
</div>
{% endblock %}