{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}{{ form.title }} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink() }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <span class="govuk-caption-l">{{ form.category }}</span>
        {% endblock %}

        <form action="" method="post" novalidate>

            {{ form.csrf_token() }}

            {{ form.question() }}

            {{ form.submit }}
        </form>

    </div>
</div>
{% endblock %}