{# This page was built as a prototype #}
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}
{%- from 'categories/components/cannot-find-your-problem.html' import cannot_find_your_problem -%}

{% block pageTitle %}Domestic Abuse - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': url_for('categories.index'),
    'text': "Back"
  }) }}

{{ govukExitThisPage("Exit this page")}}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ category.title}}</h1>

        <br>

        {{ list_item(category.sub.protect_you_and_your_children.title,
                     category.sub.protect_you_and_your_children.description,
                     url_for("categories.domestic_abuse.protect_you_and_your_children")) }}

        {{ list_item(category.sub.leaving_an_abusive_relationship.title,
             category.sub.leaving_an_abusive_relationship.description,
             url_for("categories.domestic_abuse.leaving_an_abusive_relationship")) }}

        {{ list_item(category.sub.problems_with_ex_partner.title,
             category.sub.problems_with_ex_partner.description,
             url_for("categories.domestic_abuse.problems_with_ex_partner")) }}

        <br>

        <h2 class="govuk-heading-m">{% trans %}More problems{% endtrans %}</h2>

        <br>
        {{ list_item_small(category.sub.problems_with_neighbours.title,
             category.sub.problems_with_neighbours.description,
             url_for("categories.domestic_abuse.problems_with_neighbours")) }}

        {{ list_item_small(category.sub.housing_homelessness_losing_home.title,
             category.sub.housing_homelessness_losing_home.description,
             url_for("categories.domestic_abuse.housing_homelessness_losing_home")) }}

        {{ list_item_small(category.sub.forced_marriage.title,
             category.sub.forced_marriage.description,
             url_for("categories.domestic_abuse.forced_marriage")) }}

        {{ list_item_small(category.sub.fgm.title,
             category.sub.fgm.description,
             url_for("categories.domestic_abuse.fgm")) }}

        {{ cannot_find_your_problem(("domestic abuse"), url_for("categories.domestic_abuse.other"))}}
                                              
    </div>
</div>
{% endblock %}