{% extends "means_test/form-page.html" %}

{% set areYouInADisputeHtml %}
    {{ form.are_you_in_a_dispute() }}
{% endset %}

{% set howManyChildrenUnder16Html %}
    {{ form.how_many_children_under_16(params={
        "label": {
            "classes": "govuk-label--s"
        },
        "classes": "govuk-input--width-4",
        "inputmode": "numeric",
        "spellcheck": false
    }) }}
{% endset %}

{% set howManyDependentsOver16Html %}
    {{ form.how_many_dependents_over_16(params={
        "label": {
            "classes": "govuk-label--s"
        },
        "classes": "govuk-input--width-4",
        "inputmode": "numeric",
        "spellcheck": false
    }) }}
{% endset %}

{% block form %}
    {{ form.csrf_token }}

    {{ form.partner(params={
        'items': [
            {
                'value': 'yes',
                'conditional': {
                    'html': areYouInADisputeHtml
                }
            },
            {
                'value': 'no'
            },
        ]
    }) }}

    {{ form.do_you_receive_benefits() }}

    {{ form.children_under_16(params={
        'items': [
            {
                'value': 'yes',
                'conditional': {
                    'html': howManyChildrenUnder16Html
                }
            },
            {
                'value': 'no'
            },
        ]
    }) }}

    {{ form.dependants_over_16(params={
        'items': [
            {
                'value': 'yes',
                'conditional': {
                    'html': howManyDependentsOver16Html
                }
            },
            {
                'value': 'no'
            },
        ]
    }) }}

    {{ form.own_property() }}

    {{ form.employed() }}

    {{ form.self_employed() }}

    {{ form.over_60() }}

    {{ form.savings_or_investments() }}

    {{ form.valuable_items() }}

    {{ form.submit }}
{% endblock %}