{% extends "means_test/form-page.html" %}

{% set areYouInADisputeHtml %}
    {{ form.are_you_in_a_dispute() }}
{% endset %}

{% set howManyChildrenUnder16Html %}
    {{ form.num_children(params={
        "label": {
            "classes": "govuk-label--s"
        },
        "classes": "govuk-input--width-4",
        "inputmode": "numeric",
        "spellcheck": false
    }) }}
{% endset %}

{% set howManyDependentsOver16Html %}
    {{ form.num_dependents(params={
        "label": {
            "classes": "govuk-label--s"
        },
        "classes": "govuk-input--width-4",
        "inputmode": "numeric",
        "spellcheck": false
    }) }}
{% endset %}

{% block form %}
    {{ form.csrf_token }}

    {{ form.has_partner(params={
        "idPrefix": "has-partner",
        'items': [
            {
                'value': '1',
                'conditional': {
                    'html': areYouInADisputeHtml
                },
            },
            {
                'value': '0'
            },
        ]
    }) }}

    {{ form.on_benefits() }}

    {{ form.have_children(params={
        'items': [
            {
                'value': '1',
                'conditional': {
                    'html': howManyChildrenUnder16Html
                }
            },
            {
                'value': '0'
            },
        ]
    }) }}

    {{ form.have_dependents(params={
        'items': [
            {
                'value': '1',
                'conditional': {
                    'html': howManyDependentsOver16Html
                }
            },
            {
                'value': '0'
            },
        ]
    }) }}

    {{ form.own_property() }}

    {{ form.is_employed() }}

    {{ form.partner_is_employed() }}

    {{ form.is_self_employed() }}

    {{ form.partner_is_self_employed() }}

    {{ form.aged_60_or_over() }}

    {{ form.have_savings() }}

    {{ form.have_valuables() }}

    {{ form.submit }}
{% endblock %}