{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}{{ form.title }} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': back_link,
    'text': "Back"
  }) }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <h1 class="govuk-heading-xl">{{ form.title }}</h1>
        {% endblock %}

        <form action="" method="post" novalidate>

            {%  block form %} }
                {{ form.question() }}
                {{ form.submit }}
            {% endblock %}
        </form>

    </div>
</div>
{% endblock %}