{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText %}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}{{ form.title }} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': back_link,
    'text': "Back"
  }) }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <h1 class="govuk-heading-xl">{{ form.title }}</h1>
        {% endblock %}

        <form action="" method="post" novalidate>

            {%  block form %} }
                {{ form.question() }}
                {{ form.submit }}
            {% endblock %}
        </form>
            {% block belowForm %}
                {{ govukInsetText({
                  "text": _("Your session will time out after 30 minutes of inactivity. We do this for your security.")
                }) }}
                <hr class="govuk-section-break--l">
                {% set contact_url = url_for('contact.reasons_for_contacting') %}
                <p class="govuk-body">{% trans contact_url=contact_url %}If you're having trouble completing this form, <a href="{{ contact_url }}" class="govuk-link">get in touch</a>.{% endtrans %}</p>
            {% endblock %}
    </div>
</div>
{% endblock %}