{% extends "means_test/form-page.html" %}

{% set propertyValueHtml %}
  {{ form.property_value(params={
      "label": {
          "classes": "govuk-label--m"
      },
      "prefix": {
        "text": "£"
        },
      "classes": "govuk-input--width-10",
      "inputmode": "numeric",
      "spellcheck": false
  }) }}
{% endset %}

{% set mortgageRemainingHtml %}
  {{ form.mortgage_remaining(params={
      "label": {
          "classes": "govuk-label--m"
      },
      "prefix": {
        "text": "£"
        },
      "classes": "govuk-input--width-10",
      "inputmode": "numeric",
      "spellcheck": false
  }) }}
{% endset %}

{% set mortgagePaymentsHtml %}
  {{ form.mortgage_payments(params={
      "label": {
          "classes": "govuk-label--m"
      },
      "prefix": {
        "text": "£"
        },
      "classes": "govuk-input--width-10",
      "inputmode": "numeric",
      "spellcheck": false
  }) }}
{% endset %}

{% block form %}
    {{ form.csrf_token }}
    {% if form.has_partner %}
    <p class="govuk-body">Please tell us about any property owned by you, your partner or both of you.</p>
    {% endif %}
    <p class="govuk-body">{% trans %}You can add more than one property below.{% endtrans %}</p>
    <p class="govuk-body">{% trans %}You’ll need to provide evidence of the financial information you’ve given us through this service.{% endtrans %}</p>
    {{ form.is_main_home() }}
    {{ form.other_shareholders() }}
    {{ propertyValueHtml }}
    {{ mortgageRemainingHtml }}
    {{ mortgagePaymentsHtml }}
    {{ form.is_rented() }}
    {{ form.in_dispute() }}

    {{ form.submit }}
{% endblock %}