{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{% block pageTitle %}Check your answers and confirm - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% block formHeading %}
            <h1 class="govuk-heading-xl">{% trans %}Check your answers and confirm{% endtrans %}</h1>
            <form action="" method="post" novalidate>
                {{ form.csrf_token }}

                {% if category_answers %}
                    <h1 class="govuk-heading-l">{% trans %}About the problem{% endtrans %}</h1>
                    {# Parse the markdown before passing it to govukSummaryList #}
                    {% set ns = namespace(rows=[]) %}
                    {% for answer in category_answers %}
                        {%  if answer.value.markdown %}
                            {% set _ = answer.value.update({"text": answer.value.markdown | markdown(extensions=['nl2br'])}) %}
                        {% endif %}
                        {% set _ = ns.rows.append(answer) %}
                    {% endfor %}
                    {{ govukSummaryList(
                      {
                        "title": {
                            "classes": "govuk-heading-xl"
                        },
                        "rows": ns.rows,
                       "attributes": {
                            "data-question": "The problem you need help with"
                        }
                      }
                    )}}
                {% endif %}

                {% for title, questions in means_test_summary.items() %}
                    <h2 class="govuk-heading-l">{{ title }}</h2>

                    {# Parse the markdown before passing it to govukSummaryList #}
                    {% set ns = namespace(rows=[]) %}
                    {% for question in questions %}
                        {%  if question.value.markdown %}
                            {% set _ = question.value.update({"text": question.value.markdown | markdown(extensions=['nl2br'])}) %}
                        {% endif %}
                        {% set _ = ns.rows.append(question) %}
                    {% endfor %}

                    {{ govukSummaryList(
                      {
                        "title": {
                            "classes": "govuk-heading-xl"
                        },
                        "rows": ns.rows,
                        "attributes": {
                            "data-question": title,
                        }
                      }
                    )}}
                {% endfor %}
                {{ form.submit }}
            </form>
        {% endblock %}

    </div>
</div>
{% endblock %}