{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'components/list-item.html' import list_item, list_item_small -%}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': back_link,
    'text': "Back"
  }) }}
{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ form.category }}</h1>

        <h2 class="govuk-heading-l">{{ form.title }}</h2>

        <form action="" method="post" novalidate>
            {{ form.csrf_token }}

            {{ form.question(params={'items': items }) }}

            {{ form.submit }}
        </form>

    </div>
</div>
{% endblock %}