{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': back_link,
    'text': "Back"
  }) }}
{% endblock %}

{% macro list_item(title, description, link) -%}
    <h2 class="govuk-heading-m random-class">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ link }}">{{ title }}</a>
    </h2>
    <p class="govuk-body">{{ description }}</p>
{%- endmacro %}

{% macro list_item_small(title, description, link) -%}
    <h2 class="govuk-heading-s">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ link }}">{{ title }}</a>
    </h2>
    <p class="govuk-body">{{ description }}</p>
{%- endmacro %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

        {{ govukSummaryList({
        'classes': "govuk-!-margin-bottom-9",
        'rows': summary_form
      }) }}

        <h2 class="govuk-heading-m">Now send your application</h2>
        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        {{ govukButton({
          'text': "Accept and send",
          'href': url_for('categories.result')
        }) }}
    </div>
</div>
{% endblock %}