interactions:
- request:
    body: '{"assessment": {"submission_date": "2025-06-30", "level_of_help": "controlled"},
      "proceeding_types": [{"ccms_code": "SE013", "client_involvement_type": "A"}],
      "applicant": {"date_of_birth": "1975-06-30"}, "dependants": [{"date_of_birth":
      "2010-06-30", "in_full_time_education": false, "relationship": "child_relative",
      "income": {"amount": 0, "frequency": "weekly"}, "assets_value": 0}, {"date_of_birth":
      "2008-06-30", "in_full_time_education": false, "relationship": "adult_relative",
      "income": {"amount": 0, "frequency": "weekly"}, "assets_value": 0}], "partner":
      {"partner": {"date_of_birth": "1985-06-30"}, "capitals": {"bank_accounts": [{"value":
      0.13, "description": "Savings", "subject_matter_of_dispute": false}, {"value":
      0.15, "description": "Investment", "subject_matter_of_dispute": false}], "non_liquid_capital":
      [{"value": 0.19, "description": "Valuable items worth over 500 pounds", "subject_matter_of_dispute":
      false}, {"value": 0.17, "description": "Credit balance", "subject_matter_of_dispute":
      false}]}, "employment_details": [{"income": {"gross": 0.28, "tax": -0.11, "frequency":
      "monthly", "prisoner_levy": 0, "student_debt_repayment": 0, "national_insurance":
      -0.12, "receiving_only_statutory_sick_or_maternity_pay": false, "benefits_in_kind":
      0}}], "regular_transactions": [{"category": "benefits", "operation": "credit",
      "frequency": "monthly", "amount": 0.21}, {"category": "maintenance_in", "operation":
      "credit", "frequency": "monthly", "amount": 0.29}, {"category": "pension", "operation":
      "credit", "frequency": "monthly", "amount": 0.33}, {"category": "benefits",
      "operation": "credit", "frequency": "monthly", "amount": 0.17}, {"category":
      "benefits", "operation": "credit", "frequency": "monthly", "amount": 0.23},
      {"category": "friends_or_family", "operation": "credit", "frequency": "monthly",
      "amount": 0.39}, {"category": "maintenance_out", "operation": "debit", "frequency":
      "monthly", "amount": 0.13}, {"category": "child_care", "operation": "debit",
      "frequency": "monthly", "amount": 0.16}, {"category": "rent_or_mortgage", "operation":
      "debit", "frequency": "monthly", "amount": 0.14}, {"category": "rent_or_mortgage",
      "operation": "debit", "frequency": "monthly", "amount": 0.15}, {"category":
      "legal_aid", "operation": "debit", "frequency": "monthly", "amount": 0.17}]},
      "capitals": {"bank_accounts": [{"value": 0.03, "description": "Savings", "subject_matter_of_dispute":
      false}, {"value": 0.05, "description": "Investment", "subject_matter_of_dispute":
      false}], "non_liquid_capital": [{"value": 0.09, "description": "Valuable items
      worth over 500 pounds", "subject_matter_of_dispute": false}, {"value": 0.07,
      "description": "Credit balance", "subject_matter_of_dispute": false}]}, "properties":
      {"main_home": {"value": 200000.0, "outstanding_mortgage": 50000.0, "percentage_owned":
      50, "shared_with_housing_assoc": false, "subject_matter_of_dispute": false},
      "additional_properties": []}, "employment_details": [{"income": {"gross": 900.05,
      "tax": -0.01, "frequency": "monthly", "prisoner_levy": 0, "student_debt_repayment":
      0, "national_insurance": -0.02, "receiving_only_statutory_sick_or_maternity_pay":
      false, "benefits_in_kind": 0}}], "regular_transactions": [{"category": "benefits",
      "operation": "credit", "frequency": "monthly", "amount": 0.11}, {"category":
      "maintenance_in", "operation": "credit", "frequency": "monthly", "amount": 0.19},
      {"category": "pension", "operation": "credit", "frequency": "monthly", "amount":
      0.23}, {"category": "benefits", "operation": "credit", "frequency": "monthly",
      "amount": 0.07}, {"category": "benefits", "operation": "credit", "frequency":
      "monthly", "amount": 0.13}, {"category": "friends_or_family", "operation": "credit",
      "frequency": "monthly", "amount": 0.29}, {"category": "maintenance_out", "operation":
      "debit", "frequency": "monthly", "amount": 0.03}, {"category": "child_care",
      "operation": "debit", "frequency": "monthly", "amount": 0.06}, {"category":
      "rent_or_mortgage", "operation": "debit", "frequency": "monthly", "amount":
      0.04}, {"category": "rent_or_mortgage", "operation": "debit", "frequency": "monthly",
      "amount": 0.05}, {"category": "legal_aid", "operation": "debit", "frequency":
      "monthly", "amount": 0.07}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
  response:
    body:
      string: '{"version":"6","timestamp":"2025-06-30T14:43:27.424Z","success":true,"result_summary":{"overall_result":{"result":"eligible","capital_contribution":0.0,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"SE013","upper_threshold":0.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":901.07,"proceeding_types":[{"ccms_code":"SE013","upper_threshold":2657.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":902.97},"disposable_income":{"dependant_allowance_under_16":367.87,"dependant_allowance_over_16":367.87,"dependant_allowance":735.74,"gross_housing_costs":0.09,"housing_costs":0.09,"housing_benefit":0.0,"net_housing_costs":0.09,"allowed_housing_costs":0.09,"maintenance_allowance":0.03,"total_outgoings_and_allowances":1009.58,"total_disposable_income":-108.51,"employment_income":{"gross_income":900.05,"benefits_in_kind":0.0,"tax":-0.01,"national_insurance":-0.02,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":-45.0,"net_employment_income":855.02},"proceeding_types":[{"ccms_code":"SE013","upper_threshold":733.0,"lower_threshold":733.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":-152.59,"combined_total_outgoings_and_allowances":1055.56,"partner_allowance":228.56,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":0.08,"total_non_liquid":0.16,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":0.24,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":0.24,"total_capital_with_smod":0.24,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"SE013","upper_threshold":8000.0,"lower_threshold":8000.0,"result":"eligible","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":0.88,"capital_contribution":0.0,"pensioner_capital_disregard":0.0,"combined_assessed_capital":0.88},"partner_capital":{"pensioner_disregard_applied":0.0,"total_liquid":0.28,"total_non_liquid":0.36,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":0.64,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":0.64,"total_capital_with_smod":0.64,"disputed_non_property_disregard":0},"partner_gross_income":{"total_gross_income":1.9},"partner_disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.29,"housing_costs":0.29,"housing_benefit":0.0,"net_housing_costs":0.29,"allowed_housing_costs":0.29,"maintenance_allowance":0.13,"total_outgoings_and_allowances":45.98,"total_disposable_income":-44.08,"employment_income":{"gross_income":0.28,"benefits_in_kind":0.0,"tax":-0.11,"national_insurance":-0.12,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":-45.0,"net_employment_income":-44.95}}},"assessment":{"id":"dba7cdb1-12fe-41c7-93d2-6b2a31fc9984","client_reference_id":null,"submission_date":"2025-06-30","level_of_help":"controlled","applicant":{"date_of_birth":"1975-06-30","involvement_type":"applicant","employed":null,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.31,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.29,"maintenance_in":0.19,"property_or_lodger":0.0,"pension":0.23},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}},"employment_details":[{"monthly_income":{"gross":900.05,"tax":-0.01,"national_insurance":-0.02,"prisoner_levy":0.0,"student_debt_repayment":0.0,"benefits_in_kind":0.0}}]},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.06,"rent_or_mortgage":0.09,"maintenance_out":0.03,"legal_aid":0.07,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.06,"deductions":{"dependants_allowance":735.74,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[{"description":"Savings","value":0.03},{"description":"Investment","value":0.05}],"non_liquid":[{"description":"Valuable
        items worth over 500 pounds","value":0.09},{"description":"Credit balance","value":0.07}],"vehicles":[],"properties":{"main_home":{"value":200000.0,"outstanding_mortgage":50000.0,"percentage_owned":50.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":50000.0,"net_value":150000.0,"net_equity":75000.0,"smod_allowance":0,"main_home_equity_disregard":75000.0,"assessed_equity":0.0,"subject_matter_of_dispute":false},"additional_properties":[]}}},"remarks":{},"partner_gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.61,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.39,"maintenance_in":0.29,"property_or_lodger":0.0,"pension":0.33},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transa[...]
