<dialog id="timeout-dialog" data-idle-timeout="25" data-visible-time="5"
  data-redirect-url="/session-expired" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="accessible-timer" tabindex="-1">
  <div class="modal-dialog__inner">
    <h2 id="dialog-title" class="govuk-heading-l">
      {% trans %}Your application will time out soon{% endtrans %}
    </h2>
    <div class="modal-dialog__inner__text">
      <p id="timeout-message" class="govuk-body">
        Your session will end in <span id="remaining-time"></span>. For security reasons, any information you have entered will not be saved.
    </p>
      <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
      <div id="accessible-timer" class="govuk-visually-hidden" role="status"></div>
    </div>
    <div class="modal-dialog__inner__block">
      <button class="govuk-button dialog-button modal-dialog__inner__button js-extend-session">
        {% trans %}Extend time limit{% endtrans %}
      </button>
      <a class="govuk-link modal-dialog__inner__link" href="/session-expired">
        {% trans %}Exit service{% endtrans %}
      </a>
    </div>
  </div>
</dialog>
