{% extends "base.html" %}

{% block pageTitle %}This service is currently down for maintenance{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is currently down for maintenance</h1>
        <p class="govuk-body">'If you were part way through the service, you will have to start again when the service becomes available.</p>
    </div>
</div>
{% endblock %}
