{% extends "base.html" %}

{% block pageTitle %}This service is currently down for maintenance{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is currently down for maintenance</h1>
        <p class="govuk-body">If you were part way through the service, you will have to start again when the service becomes available.</p>
        
        <p class="govuk-body">Contact the Civil Legal Advice Helpline if you need urgent information or advice.</p>
        <p class="govuk-body">Telephone:<br />
            <strong class="govuk-!-font-weight-bold">0345 345 4345</strong>
        </p>

        <p class="govuk-body">Textphone:<br />
            <strong class="govuk-!-font-weight-bold">0845 609 6677</strong>
        </p>

        <div class="govuk-inset-text">
            <p class="govuk-body">
              Calls will cost approximately 9p per minute from landline. Calls from mobiles may cost more.
            </p>
        <p class="govuk-body">
          If you are worried about the cost, you can request a call-back within 24 hours by either calling the helpline or texting ‘legal aid’ and your name to <strong class="govuk-!-font-weight-bold">80010</strong>.
        </p>
        </div>
        <p class="govuk-body">Opening times:<br />
          <strong class="govuk-!-font-weight-bold">
            Monday to Friday: 9am to 5pm<br />
            Saturday: 9am to 12.30pm
          </strong>
        </p>
        
    </div>
</div>
{% endblock %}
