<dialog id="timeout-dialog" 
        data-idle-timeout="25" 
        data-visible-time="5" 
        data-redirect-url="/session-expired" 
        class="modal-dialog" 
        role="dialog" 
        aria-labelledby="dialog-title" 
        aria-describedby="dialog-description" 
        tabindex="-1">
  <div class="modal-dialog__content">
    <h2 id="dialog-title" class="govuk-heading-l">
      Your application will time out soon
    </h2>
    <div class="modal-dialog__body">
      <p id="dialog-description" class="govuk-body">
        For your security, your session will expire due to inactivity. 
        Please extend your session or exit the service.
      </p>
      <div class="timer" aria-hidden="true"></div>
      <div id="accessible-timer" class="govuk-visually-hidden" role="status" aria-live="polite">
        Session will expire in 5 minutes.
      </div>
    </div>
    <div class="modal-dialog__actions">
      <button class="govuk-button js-extend-session">
        Extend time limit
      </button>
      <a href="/session-expired" class="govuk-link exit-service-link">
        Exit service
      </a>
    </div>
  </div>
</dialog>
