Flask
Flask-Compress
Flask-Limiter
flask-talisman
Flask-WTF
govuk-frontend-wtf
python-dotenv
requests
sentry-sdk[flask]
PyYAML
flask-babel==4.0.0
flask-caching
markdown
email-validator
python-dateutil
