{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}
{%- from 'categories/components/cannot-find-your-problem.html' import cannot_find_your_problem -%}

{% block pageTitle %}{% trans %}Special educational needs and disability (SEND){% endtrans %} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': url_for('categories.index'),
    'text': "Back"
  }) }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{% trans %}Special educational needs and disability (SEND){% endtrans %}</h1>

        {{ list_item(_("Help with a child or young person's SEND)"),
                     _("Help with schools, other education settings and local authorities. Includes help with education, health and care plans (EHCP) or if a child’s needs are not being met."),
                     url_for("categories.send.child_young_person")) }}

        {{ list_item(_("SEND tribunals"),
             _("Applying for or going to a SEND tribunal, appealing a decision by a tribunal."),
             url_for("categories.send.tribunals")) }}

        {{ list_item(_("Child treated unfairly at school, discrimination"),
             _("If a child is treated unfairly at school because of their disability. Or if you were treated badly for complaining about this."),
             url_for("categories.send.discrimination")) }}

        <br>

        <h2 class="govuk-heading-m">{%  trans %}More problems{% endtrans %}</h2>

        <br>

        {{ list_item_small(_("Other problems with schools"),
                           _("Advice about legal action against a school. Includes if a child is out of school, exclusions, transport to school, judicial reviews."),
                            url_for("categories.send.schools")) }}

        {{ list_item_small(_("Care needs for disability (social care)"),
                           _("Problems getting the local authority or council to provide or pay for the right care. For carers, children, young people and adults."),
                            url_for("categories.send.care")) }}
            {{ cannot_find_your_problem(_("SEND"), url_for("categories.send.other"))}}

    </div>
</div>
{% endblock %}