{% extends "base.html" %}
{%- from 'components/back_link.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}
{%- from 'categories/components/cannot-find-your-problem.html' import cannot_find_your_problem -%}

{% block pageTitle %}{% trans %}Asylum and immigration{% endtrans %} - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'text': "Back"
  }) }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{% trans %}Asylum and immigration{% endtrans %}</h1>

        {{ list_item(_("Applying for asylum"),
                     _("Help to apply for asylum, go to asylum interviews, or appeal an asylum decision."),
                     url_for("categories.asylum_immigration.apply")) }}

        {{ list_item(_("Housing and homelessness"),
             _("Help to apply for housing, problems with housing or if you are homeless."),
             url_for("categories.asylum_immigration.housing")) }}

        {{ list_item(_("Stay in the UK if you experienced domestic abuse"),
             _("Help to remain in the UK or EU if your relationship ended because of domestic abuse. This could be by a partner, ex-partner or family member."),
             url_for("categories.asylum_immigration.domestic_abuse")) }}

            {{ list_item(_("Help if you’re being detained"),
                     _("Help if you’re in immigration detention, including if you want to apply for bail. Help if you’re in prison."),
                     url_for("categories.asylum_immigration.detained")) }}

        <br>

        <h2 class="govuk-heading-m">{% trans %}More problems{% endtrans %}</h2>

        <br>

        {{ list_item_small(_("Trafficking, modern slavery"),
                           _("Help if you’re a victim of trafficking or modern slavery."),
                            url_for("categories.asylum_immigration.modern_slavery")) }}

            {{ cannot_find_your_problem("asylum and immigration", url_for("categories.results.refer", category="immas"))}}

    </div>
</div>
{% endblock %}