{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'categories/components/list-item.html' import list_item, list_item_small -%}
{%- from 'categories/components/cannot-find-your-problem.html' import cannot_find_your_problem -%}

{% block pageTitle %}Housing, homelessness, losing your home - GOV.UK{% endblock %}

{% block beforeContent%}
{{ super() }}
{{ govukBackLink({
    'href': url_for('categories.index'),
    'text': "Back"
  }) }}

{% endblock %}

{% block content %}

{{ super() }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{% trans %}Housing, homelessness, losing your home{% endtrans %}</h1>

        {{ list_item(_("Homelessness"),
                     _("Help if you’re homeless, or might be homeless in the next 2 months. This could be because of rent arrears, debt, the end of a relationship, or because you have nowhere to live."),
                     url_for("categories.housing.homelessness")) }}

        {{ list_item(_("Eviction, told to leave your home"),
             _("Landlord has told you to leave or is trying to force you to leave. Includes if you’ve got a Section 21 or a possession order."),
             url_for("categories.housing.eviction")) }}

        {{ list_item(_("Forced to sell or losing the home you own"),
             _("Repossession by your mortgage company; bankruptcy or other debt that means you will lose the home you own."),
             url_for("categories.housing.forced_to_sell")) }}

            {{ list_item(_("Repairs, health and safety"),
                     _("If your house is not safe to live in, or needs repairs, and this is causing health or safety problems."),
                     url_for("categories.housing.repairs")) }}

        {{ list_item(_("Problems with council housing"),
             _("Help to challenge the council’s decision about giving you housing. It includes if the council has offered a house that is not right for you, or that needs repairs or adaptations."),
             url_for("categories.housing.council_housing")) }}
        <br>

        <h2 class="govuk-heading-m">{%  trans %}More problems{% endtrans %}</h2>

        <br>

        {{ list_item_small(_("Being threatened or harassed where you live"),
                           _("By a landlord, neighbour or someone else."),
                            url_for("categories.housing.threatened")) }}

        {{ list_item_small(_("If you’re an asylum-seeker"),
                   _("Applying for housing, losing your housing or homelessness."),
                    url_for("categories.housing.asylum_seeker")) }}

            {{ list_item_small(_("Discrimination"),
                   _("Treated unfairly by a landlord, council or housing association"),
                    url_for("categories.housing.discrimination")) }}

                {{ list_item_small(_("If you’ve been accused of anti-social behaviour"),
                   _("Accused of anti-social behaviour by the landlord, council or housing association."),
                    url_for("categories.housing.anti_social")) }}


            {{ cannot_find_your_problem(_("housing"), url_for("categories.housing.other"))}}

    </div>
</div>
{% endblock %}