name: Build and Push image
on:
  workflow_call:
    inputs:
      ACCESS_ECR_REGION:
        required: true
        type: string
      ACCESS_ECR_REPOSITORY:
        required: true
        type: string
    secrets:
      ACCESS_ECR_ROLE_TO_ASSUME:
        required: true


jobs:
  build-and-push-to-ecr:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    steps:
      - name: Checkout GitHub repository 
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Assume role in Cloud Platform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.ACCESS_ECR_ROLE_TO_ASSUME }}
          aws-region: ${{ inputs.ACCESS_ECR_REGION }}

      - name: Login to container repository
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        id: login-ecr
        with:
          mask-password: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.ACCESS_ECR_REPOSITORY }}
          tags: |
            type=sha,format=long,prefix=,suffix=

      - name: Build and push a Docker image to the container repository
        id: docker-build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags:  ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: production
