name: Static Analysis
on:
  - workflow_call

jobs:
  pip-compile:
    name: Run the pip-compile pre-commit hooks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - name: Run pip-compile pre-commit
        id: pip_compile
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          ls requirements/source/* | xargs pre-commit run pip-compile --files

      - name: Check command result
        if: steps.pip_compile.outcome != 'success'
        run: |
          echo "pip-compile failed because the compilation of requirements/source do not match of that in requirements/generated." >&2
          exit 1

  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Lint
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: check --output-format=github
          version: 0.9.3
      - name: Format
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: format --check
