{% macro progress_bar(completed, offset=-2) %}
  {% if completed is number %}
    {# This is a workaround to avoid using inline styles, as nonces can only be applied to script/ style tags #}
    <style nonce="{{ csp_nonce() }}">
      .progress-value {
        width: {{ completed + offset }}%;
      }
    </style>
    <div class="progress-bar">
        <div class="progress-value completed-step {{ 'progress-unfinished' if not completed >= 100 }}"></div>
    </div>
  {% endif %}
{% endmacro %}

{% macro step_status(is_completed=False, is_current=False) %}
  <span class="step-status">
    {% if is_current %}
      {{ _('Current page') }}:
    {% elif is_completed %}
      {{ _('Completed page') }}:
    {% else %}
      {{ _('Future page') }}:
    {% endif %}
  </span>
{% endmacro %}

{% macro progress(steps, current_step, completion_percentage) %}

    {% set is_about_you_complete = (steps|selectattr('key', 'equalto', 'about-you')|list)[0].is_completed   %}
    {% set has_remaining_forms = steps|rejectattr('is_completed')|list|length > 0 %}
    {% set is_contact_page = request.path.startswith('/result/') %}

    <div class="progress">
        {{ progress_bar(completion_percentage) }}
        <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-margin-bottom-2">{% trans %}Your progress{% endtrans %}</h2>
        <ul class="govuk-list progress-steps">
            {# Steps to do #}
            {% for step in steps %}
                {# Optional collapsed steps #}
                {% if not is_about_you_complete and step.title == "Check your answer and confirm" %}
                  <li class="progress-step m-collapsed">
                    {% for n in range(3) %}
                      <div class="step-name"></div>
                    {% endfor %}
                  </li>
                {% endif %}
                <li class="progress-step
                    {% if step.is_completed %}completed-step {% endif %}
                    {% if step.is_current %}current-step{% endif %}">
                {% if (step.is_completed and not step.is_current) %}
                    <a class="step-name" href="{{ step.url }}">
                        {{ step_status(step.is_completed, step.is_current) }}
                        {{ step.title }}
                    </a>
                {% else %}
                    <span class="step-name">
                        {{ step_status(step.is_completed, step.is_current) }}
                        {{ step.title }}
                    </span>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}